.button {
    font-family: 'Fira Code', sans-serif;
    display: inline-block;
    background-color: #828282;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    transition: transform 100ms linear,opacity 200ms ease-in-out;
    text-decoration: none;
    color: #fff;
  }

.button:hover{
    transform: scale(1.08);
    opacity: 0.5;
  }