.main-section{
    background-color:#2D9CDB;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #7C5E99;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color:#000000;
}

.main-section.-bdFirst{
    border-color: #F25A70;
}